body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* flex: 1; */
  background: linear-gradient(to bottom, yellow, skyblue);
}

div#root{
  flex: 1;
}

.english-container {
  flex: 1;
}

.english{
  flex: 1;
  text-align: center;
}

.header-title {
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  color: black;
  width: 100%;
}

.header-subtitle {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.button-container {
  text-align: center;
}

.button-class {
  margin: 15px 0 !important;
}