body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* flex: 1; */
  /* background: linear-gradient(to bottom, yellow, skyblue); */
  /* min-width: 100vw;を.english-containerに入れないとスタイルが思うようにできない理由*/
}

div#root{
  flex: 1;
}

.english-container {
  flex: 1;
   /* min-width: 100vw; */
}

.header-title {
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  color: black;
  background-color: yellow;
  width: 100%;
}

.header-subtitle {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.button-container {
  text-align: center;
}

.button-class {
  margin: 15px 0 !important;
}